<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:ǓǏǏ"
      rel="stylesheet"
    />
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">Home</a> |
      <a href="{% url 'blog' %}">Blog</a> |
      <a href="{% url 'about' %}">About</a>
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
